* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://wallpaperaccess.com/full/632198.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    width: 400px;
    height: 450px;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    backdrop-filter: blur(15px);
    border-radius: 20px;
}

h2 {
     color: white;
}

.user-box {
    position: relative;
    border-bottom: 2px solid white;
    width: 350px;
    margin: 30px 0px;
}

.user-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: white;
    transition: .5s;
}

.user-box input {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0px 35px 0px 10px;
    font-size: 1em;
    color: white;
}

input:focus ~ label {
    top: -5px;
}

button {
    width: 80%;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 20px 0;
    cursor: pointer;
    outline: none;
    font-size: 1em;
    font-weight: bold;
}

span {
    color: white;
}

button:hover {
    /* background-color: aqua; */
    box-shadow: 2px 3px 8px rgb(4, 11, 12);
    transition: 1s;
}

p {
    color: white;
}

@media (max-width: 425px) {
    form {
        width: 80%
    }

    .user-box {
        width: 80%;
    }

    p {
        text-align: center;
        margin-inline: 4px;
    }
}